<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS-->
    <title>Today Updates</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZt3saYTlA_cEeBSPVPkvT7rPBtIHzzTWErbQ9EHOpJzW8e-TtMUdWAYnQ4pCmcXd54F7P1YgEJRrvig&usqp=CAU" type="image/x-icon" >
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>

<body>
<label for ="name" style="font-family:'Montserrat', sans-serif">TODAY'S ATTENDEES</label><br><br>
<a href = "mailto: rameshwarvarma97@gmail.com">Send Email
<textarea spellcheck="false" name="Enter today's attendees" id="name" cols="20px" rows="18px">
</textarea>
</a>
</body>
</html>
